@model IList<SetUpMapsHere.Models.Admin.DriverInfo>
@{
    ViewData["Title"] = "AllDrivers";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Bus</th>
            <th scope="col">Line</th>
            <th scope="col">????</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var driver in Model)
        {
            <tr>
                <th scope="row">@driver.Username</th>
                <th>@driver.Bus</th>
                <th>@driver.Line</th>
                <th>
                    <div class="button-holder">
                        <a href="/Admin/Drivers/EditDriver?DriverId=@driver.Id" class="btn btn-info text-uppercase">Edit</a>
                    </div>
                </th>
            </tr>
        }
    </tbody>
</table>

