@model IList<BusGps.Web.ViewModels.Admin.UserInfo>
@{
    ViewData["Title"] = "AllUsers";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usr in Model)
        {
            <tr>
                <th scope="row">@usr.Username</th>
                <th>@usr.Email</th>
                <th>@usr.Role</th>
                <th>
                    <div class="button-holder">
                        <a href="/Admin/Users/RoleChange?UserId=@usr.Id" class="btn btn-info text-uppercase">Change Role</a>
                    </div>
                </th>
            </tr>
        }
    </tbody>
</table>

