@{
    ViewData["Title"] = "DriverView";
}


<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <style>
        #mapid {
            height: 700px;
        }
    </style>
</head>

<body>
    <form id="form1" runat="server" asp-controller="Map" asp-action="OSM">
    </form>
    <div id="mapid">
    </div>
    <button onclick="getLocation()">Get Geolocation</button>
    <button onclick="EndDriving()">End driving session</button>
    <script src="~/lib/@@microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/DriverViewJS.js"></script>
</body>