@model IList<BusInfo>
@using SetUpMapsHere.Models.Admin
@{
    ViewData["Title"] = "AllBuses";
}
<style>
     .btnmrgn { /* You Can Name it what you want*/
        margin-bottom: 15px;
    }
</style>

<div class="button-holder d-flex justify-content-center">
    <a href="/Admin/Buses/CreateBus" class="btn btn-dark btnmrgn">Add bus</a>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Model</th>
            <th scope="col">Line</th>
            <th scope="col">IsActive</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bus in Model)
        {
        <tr>
            <th scope="row">@bus.BusId</th>
            <th>@bus.BusName</th>
            <th>@bus.Line</th>
            <th>@bus.IsActive</th>
            <th>
                <div class="button-holder">
                    <a href="EditBus?BusId=@int.Parse(bus.BusId)" class="btn btn-info text-uppercase">Edit</a>
                </div>
            </th>
        </tr>
        }
    </tbody>
</table>